
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global Styles */
header {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

a {
  font-size: 16px;
}

li {
  border-left: 2px solid red;
  padding-left: .5rem;
}

// Global white background
body {
  background-color: white;
}

:root {
  background-color: white;
}

